<!-- <div style="margin: 4.0rem 0; padding: 0 2.5rem; line-height: 10px; border: 1pt solid #669999; border-radius: 5px; box-shadow: 0px 0px 2px #669999;"> -->
  <!-- <div style="padding: 0 2.5rem; line-height: 10px; border: 0.5pt solid #669999; border-radius: 5px;"> -->
    <!-- <div style="margin: 4.0rem 0; padding: 0 2.5rem; line-height: 10px;"> -->
      <!-- <p> -->
	<!-- <strong> -->
	  <!-- <font color="#669999"> -->
	    <!-- Video &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
	  <!-- </font> -->
	  <!-- <font color="#669999">Video</font> -->
	<!-- </strong> -->
	<!-- <a class="linktitle" href="{{ .Get "url" }}"> -->
	  <!-- {{ .Get "text" }} -->
	<!-- </a> -->
      <!-- </p> -->
    <!-- </div> -->
